@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light, clean background */
html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff; /* pure white */
  color: #0f172a;      /* slate-900 */
}

a {
  color: inherit;
  text-decoration: none;
}
